{{#if length}}
	<section id="main">
		{{#if canToggle}}
			{{input type="checkbox" id="toggle-all" checked=allTasks.allAreDone}}
		{{/if}}
		<ul id="todo-list">
			{{#each task in content itemController="task"}}
				{{#with task}}
					<li {{bind-attr class="isCompleted:completed isEditing:editing"}}>
					{{#if isEditing}}
						{{task-input type="text" class="edit" value=bufferedTitle focus-out="doneEditing" insert-newline="doneEditing" escape-press="cancelEditing"}}
					{{else}}
						{{input type="checkbox" class="toggle" checked=isCompleted}}
						<label {{action "editTask" on="doubleClick"}}>{{title}}</label>
						<button {{action "removeTask"}} class="destroy"></button>
					{{/if}}
					</li>
				 {{/with}}
			{{/each}}
		</ul>
	</section>
{{/if}}